<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to Your Character Customizer!!</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/random">Randomize</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/custom">Customize</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="main-content">
             <h2>Customize your Character</h2><br>
             <p>Unleash your creativity and design your ultimate character to match your unique style!</p>
             <a href="/custom" class="btn">Customize Now</a>
             <h2>Randomize your Character</h2><br>
             <p>Feeling adventurous? Let us surprise you with a randomly generated character!</p>
             <a href="/random" class="btn">Randomize Now</a>
        </div>
    </div>
</body>
</html>